#logo {

width: 1347px;

height: 2596px;

position: absolute;

top:0px;

left:0px;

border: 1px solid blue;

background-color: #DCDCDC;

}

#log {

width: 1347px;

height: 1296px;

position: absolute;

top:0px;

left:0px;

border: 1px solid blue;

background-color: #DCDCDC;

}

#logys {

width: 1347px;

height: 676px;

position: absolute;

top:0px;

left:0px;

border: 1px solid blue;

background-color: #DCDCDC;

}

#gys {

width: 1347px;

height: 746px;

position: absolute;

top:0px;

left:0px;

border: 1px solid blue;

background-color: #DCDCDC;

}

#leftmenu {

width: 879px;

height: 0px;

position: absolute;

top:293px;

left:199px;

border: 1px solid blue;

z-index: 10;

}

#letmenu {

width: 879px;

height: 0px;

position: absolute;

top:293px;

left:199px;

border: 1px solid blue;

z-index: 10;

}
#rightnews {

width: 879px;

height: 293px;

position: absolute;

top:50px;

left:199px;

border: 1px solid blue;

}


#center {

width: 879px;

height: 1236px;

position: absolute;

top: 311px;

left:199px;

border: 1px solid blue;

background-color: #E0FFFF;

}

#cter {

width: 879px;

height: 976px;

position: absolute;

top: 311px;

left:199px;

border: 1px solid blue;

background-color: #E0FFFF;

}

#ter {

width: 879px;

height: 356px;

position: absolute;

top: 311px;

left:199px;

border: 1px solid blue;

background-color: #E0FFFF;

}

#er {

width: 879px;

height: 406px;

position: absolute;

top: 311px;

left:199px;

border: 1px solid blue;

background-color: #E0FFFF;

}

#enter {

width: 879px;

height: 2286px;

position: absolute;

top: 311px;

left:199px;

border: 1px solid blue;

background-color: #E0FFFF;

}

#huawei-y5-2019-front {

width: 255px;

height: 235px;

position: absolute;

top: 10px;

left: 10px;

border: 1px solid blue;

border:#fff;

}

#honor_7a {

width: 255px;

height: 235px;

position: absolute;

top: 10px;

left: 10px;

border: 1px solid blue;

border:#fff;

}

#huawei {

width: 275px;

height: 500px;

position: absolute;

top: 20px;

left: 10px;

border: 1px solid blue;

background-color: #f9f9f9;

border:#fff;

}

#h_n {

width: 260px;

height: 165px;

position: absolute;

top: 255px;

left: 10px;

border: 1px solid blue;

border:#fff;

}

#honor {

width: 275px;

height: 500px;

position: absolute;

top: 20px;

left: 300px;

border: 1px solid blue;

background-color: #f9f9f9;

border:#fff;

}

#h_r {

width: 255px;

height: 165px;

position: absolute;

top: 255px;

left: 10px;

border: 1px solid blue;

border:#fff;

}

#nokia {

width: 275px;

height: 500px;

position: absolute;

top: 20px;

left: 590px;

border: 1px solid blue;

background-color: #f9f9f9;

border:#fff;

}

#nokia_3 {

width: 255px;

height: 235px;

position: absolute;

top: 10px;

left: 10px;

border: 1px solid blue;

border:#fff;

}

#n_n {

width: 255px;

height: 165px;

position: absolute;

top: 255px;

left: 10px;

border: 1px solid blue;

border:#fff;

}

#vivo {

width: 275px;

height: 435px;

position: absolute;

top: 535px;

left: 10px;

border: 1px solid blue;

background-color: #f9f9f9;

border:#fff;

}

#vivo_Y81 {

width: 255px;

height: 235px;

position: absolute;

top: 10px;

left: 10px;

border: 1px solid blue;

border:#fff;

}

#v_n {

width: 255px;

height: 165px;

position: absolute;

top: 255px;

left: 10px;

border: 1px solid blue;

border:#fff;

}

#lg {

width: 275px;

height: 435px;

position: absolute;

top: 535px;

left: 300px;

border: 1px solid blue;

background-color: #f9f9f9;

border:#fff;

}

#lg_q7 {

width: 255px;

height: 235px;

position: absolute;

top: 10px;

left: 10px;

border: 1px solid blue;

border:#fff;

}

#l_n {

width: 255px;

height: 165px;

position: absolute;

top: 255px;

left: 10px;

border: 1px solid blue;

border:#fff;

}

#lenovo {

width: 275px;

height: 490px;

position: absolute;

top: 20px;

left: 10px;

border: 1px solid blue;

background-color: #f9f9f9;

border:#fff;

}
#lenovo_IdeaPad {

width: 255px;

height: 235px;

position: absolute;

top: 10px;

left: 10px;

border: 1px solid blue;

border:#fff;

}

#len {

width: 255px;

height: 165px;

position: absolute;

top: 255px;

left: 10px;

border: 1px solid blue;

border:#fff;

}

#hp {

width: 275px;

height: 490px;

position: absolute;

top: 20px;

left: 300px;

border: 1px solid blue;

background-color: #f9f9f9;

border:#fff;

}

#hp_15 {

width: 255px;

height: 235px;

position: absolute;

top: 10px;

left: 10px;

border: 1px solid blue;

border:#fff;

}

#hp_n {

width: 255px;

height: 165px;

position: absolute;

top: 255px;

left: 10px;

border: 1px solid blue;

border:#fff;

}

#acer {

width: 275px;

height: 490px;

position: absolute;

top: 20px;

left: 590px;

border: 1px solid blue;

background-color: #f9f9f9;

border:#fff;

}

#acer_ex25 {

width: 255px;

height: 235px;

position: absolute;

top: 10px;

left: 10px;

border: 1px solid blue;

border:#fff;

}

#acer_n {

width: 265px;

height: 165px;

position: absolute;

top: 255px;

left: 10px;

border: 1px solid blue;

border:#fff;

}

#dell {

width: 275px;

height: 435px;

position: absolute;

top: 535px;

left: 10px;

border: 1px solid blue;

background-color: #f9f9f9;

border:#fff;

}

#DELL_Vostro {

width: 255px;

height: 235px;

position: absolute;

top: 10px;

left: 10px;

border: 1px solid blue;

border:#fff;

}

#dell_n {

width: 255px;

height: 165px;

position: absolute;

top: 255px;

left: 10px;

border: 1px solid blue;

border:#fff;

}

#asus {

width: 275px;

height: 435px;

position: absolute;

top: 535px;

left: 300px;

border: 1px solid blue;

background-color: #f9f9f9;

border:#fff;

}

#asus_vivo {

width: 255px;

height: 235px;

position: absolute;

top: 10px;

left: 10px;

border: 1px solid blue;

border:#fff;

}

#asus_n {

width: 255px;

height: 165px;

position: absolute;

top: 255px;

left: 10px;

border: 1px solid blue;

border:#fff;

}

#samsung {

width: 275px;

height: 500px;

position: absolute;

top: 20px;

left: 10px;

border: 1px solid blue;

background-color: #f9f9f9;

border:#fff;

}
#samsung_tab {

width: 255px;

height: 235px;

position: absolute;

top: 10px;

left: 10px;

border: 1px solid blue;

border:#fff;

}

#sam_t {

width: 255px;

height: 165px;

position: absolute;

top: 255px;

left: 10px;

border: 1px solid blue;

border:#fff;

}

#samsun {

width: 275px;

height: 320px;

position: absolute;

top: 20px;

left: 10px;

border: 1px solid blue;

background-color: #f9f9f9;

border:#fff;

}

#sam_tab {

width: 255px;

height: 235px;

position: absolute;

top: 10px;

left: 10px;

border: 1px solid blue;

border:#fff;

}
#sam_v {

width: 255px;

height: 50px;

position: absolute;

top: 255px;

left: 10px;

border: 1px solid blue;

border:#fff;

}

#awei {

width: 275px;

height: 500px;

position: absolute;

top: 20px;

left: 300px;

border: 1px solid blue;

background-color: #f9f9f9;

border:#fff;

}

#awe {

width: 275px;

height: 320px;

position: absolute;

top: 20px;

left: 300px;

border: 1px solid blue;

background-color: #f9f9f9;

border:#fff;

}

#MediaPad {

width: 255px;

height: 235px;

position: absolute;

top: 10px;

left: 10px;

border: 1px solid blue;

border:#fff;

}

#Media {

width: 255px;

height: 235px;

position: absolute;

top: 10px;

left: 10px;

border: 1px solid blue;

border:#fff;

}

#media_n {

width: 255px;

height: 165px;

position: absolute;

top: 255px;

left: 10px;

border: 1px solid blue;

border:#fff;

}

#media_v {

width: 255px;

height: 50px;

position: absolute;

top: 255px;

left: 10px;

border: 1px solid blue;

border:#fff;

}

#digma {

width: 275px;

height: 500px;

position: absolute;

top: 20px;

left: 590px;

border: 1px solid blue;

background-color: #f9f9f9;

border:#fff;

}

#igma {

width: 275px;

height: 320px;

position: absolute;

top: 20px;

left: 590px;

border: 1px solid blue;

background-color: #f9f9f9;

border:#fff;

}

#Digma_Plane {

width: 255px;

height: 235px;

position: absolute;

top: 10px;

left: 10px;

border: 1px solid blue;

border:#fff;

}

#gma_Plane {

width: 255px;

height: 235px;

position: absolute;

top: 10px;

left: 10px;

border: 1px solid blue;

border:#fff;

}

#digma_n {

width: 255px;

height: 165px;

position: absolute;

top: 255px;

left: 10px;

border: 1px solid blue;

border:#fff;

}

#gma_v {

width: 255px;

height: 50px;

position: absolute;

top: 255px;

left: 10px;

border: 1px solid blue;

border:#fff;

}

#nov {

width: 275px;

height: 435px;

position: absolute;

top: 535px;

left: 10px;

border: 1px solid blue;

background-color: #f9f9f9;

border:#fff;

}

#avonel {

width: 255px;

height: 235px;

position: absolute;

top: 10px;

left: 10px;

border: 1px solid blue;

border:#fff;

}

#avonel_n {

width: 255px;

height: 165px;

position: absolute;

top: 255px;

left: 10px;

border: 1px solid blue;

border:#fff;

}

#prestigio {

width: 275px;

height: 435px;

position: absolute;

top: 535px;

left: 300px;

border: 1px solid blue;

background-color: #f9f9f9;

border:#fff;

}

#prestigio_grace {

width: 255px;

height: 235px;

position: absolute;

top: 10px;

left: 10px;

border: 1px solid blue;

border:#fff;

}

#prestigio_n {

width: 255px;

height: 165px;

position: absolute;

top: 255px;

left: 10px;

border: 1px solid blue;

border:#fff;

}

#centert {

width: 1160px;

height: 1000px;

position: absolute;

top: 70px;

left:180px;

border: 1px solid blue;

}

#logos {

width: 1347px;

height: 2410px;

position: absolute;

top:0px;

left:0px;

border: 1px solid blue;

background-color: #1E90FF;

}

#logostart {

width: 1347px;

height: 1180px;

position: absolute;

top:0px;

left:0px;

border: 1px solid blue;

background-color: #1E90FF;

}

#centertan {

width: 877px;

height: 2290px;

position: absolute;

top: 110px;

left:180px;

border: 1px solid blue;

background-color: #E0FFFF;

}

#logostar {

width: 1347px;

height: 2170px;

position: absolute;

top:0px;

left:0px;

border: 1px solid blue;

}

#navbar ul{
        display: none;
        background-color: #f90;
        position: absolute;
        top: 100%;
      }
      #navbar li:hover ul { display: block; }
      #navbar, #navbar ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
      }
      #navbar {
        height: 30px;
        background-color: #666;
        padding-left: 25px;
        min-width: 470px;
      }
      #navbar li {
        float: left;
        position: relative;
        height: 100%;
      }
      #navbar li a {
        display: block;
        padding: 6px;
        width: 100px;
        color: #fff;
        text-decoration: none;
        text-align: center;
      }
      #navbar ul li { float: none; }
      #navbar li:hover { background-color: #f90; }
      #navbar ul li:hover { background-color: #666; }
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

p {
    text-indent: 50px;
}

#text {

width: 840px;

height: 340px;

position: absolute;

top: 0px;

left:18px;

border: 1px solid blue;

border-color: #E0FFFF;

}

#cen {

width: 877px;

height: 1060px;

position: absolute;

top: 110px;

left:180px;

border: 1px solid blue;

background-color: #E0FFFF;

}

#texta {

width: 840px;

height: 340px;

position: absolute;

top: 0px;

left:18px;

border: 1px solid blue;

border-color: #E0FFFF;

}

#texts {

width: 840px;

height: 340px;

position: absolute;

top: 0px;

left:15px;

border: 1px solid blue;

border-color: #E0FFFF;	
}

#logotar {

width: 1347px;

height: 1180px;

position: absolute;

top:0px;

left:0px;

border: 1px solid blue;

background-color: #1E90FF;

}


img[tabindex="0"] {  
  cursor: zoom-in;  
}  

img[tabindex="0"]:focus {  
  position: fixed; z-index: 10;  
  top: 0; left: 0; bottom: 0; right: 0;  
  width: auto; max-width: 100%;  
  height: auto; max-height: 100%;  
  margin: auto;  
  box-shadow: 0 0 200px #000, 0 0 0 1000px rgba(0,0,0,.3);  
-webkit-box-shadow: 0 0 200px #000, 0 0 0 1000px rgba(0,0,0,.3);  
-moz-box-shadow: 0 0 200px #000, 0 0 0 1000px rgba(0,0,0,.3);  
}  

img[tabindex="0"]:focus, /* Привязка на возврат фото в привычное состояние после клика на увеличенное */  
img[tabindex="0"]:focus ~ * {  
  cursor: zoom-out;  
  pointer-events: none;  
}

TABLE {
    background: #f9f9f9; /* Цвет фона таблицы */
    color: while; /* Цвет текста */
   }
   TD, TH {
    background: #f9f9f9; /* Цвет фона ячеек */
    padding: 0px; /* Поля вокруг текста */
   }